apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${CI_PROJECT_NAME}
  namespace: ${NAMESPACE}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${CI_PROJECT_NAME}
  template:
    metadata:
      labels:
        app: ${CI_PROJECT_NAME}
    spec:
      containers:
        - name: ${CI_PROJECT_NAME}
          image: ${DOCKER_TAG}
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: ${CI_PROJECT_NAME}-configmap
          resources:
            limits:
              memory: "256Mi"
              cpu: "1000m"
          ports:
            - containerPort: 3000
              protocol: TCP
      imagePullSecrets:
        - name: gitlab-registry

---

apiVersion: v1
kind: Service
metadata:
  name: ${CI_PROJECT_NAME}-service
  namespace: ${NAMESPACE}
spec:
  selector:
    app: ${CI_PROJECT_NAME}
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
  type: ClusterIP

---

apiVersion: networking.k8s.io/v1

kind: Ingress
metadata:
  name: ${CI_PROJECT_NAME}-ingress
  namespace: ${NAMESPACE}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
    nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-response-headers: "X-Forwarded-User,X-Forwarded-Email,X-Forwarded-Preferred-Username,X-Auth-Request-User, X-Auth-Request-Email"
  labels:
    name: ${CI_PROJECT_NAME}-ingress
spec:
  ingressClassName: nginx
  rules:
    - host: ${HOST}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ${CI_PROJECT_NAME}-service
                port:
                  number: 3000
  tls:
    - hosts:
        - ${HOST}
      secretName: ${CI_PROJECT_NAME}-tls

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CI_PROJECT_NAME}-configmap
  namespace: ${NAMESPACE}
data:
  VITE_APP_PREFIX: "${VITE_APP_PREFIX}"
  VITE_APP_API_BASE_URL: "${VITE_APP_API_BASE_URL}"
