@blueai:registry=<https://gitlab.com/api/v4/projects/54390424/packages/npm/>
//gitlab.com/api/v4/projects/54390424/packages/npm/:_authToken=${GITLAB_TOKEN}
auto-install-peers = true
save=true
save-exact=true
always-auth=true
git-checks=false