@blueai:registry=https://gitlab.com/api/v4/groups/a10179/-/packages/npm/
//gitlab.com/api/v4/groups/a10179/-/packages/npm/:_authToken="${GITLAB_TOKEN}"
auto-install-peers = true
save=true
save-exact=true
always-auth=true
git-checks=false
legacy-peer-deps=true